.btn-link { 
    text-decoration: none;
    color: white;
}

.main-container {
    min-width: 100%;
    max-width: 100%;
}

.main-row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    height: 100vh;
    min-height: 100vh;
}

.main-col {
    background-color: aquamarine;
    height: 100%;
}

.main-map {
    background-color:gainsboro;
}

.main-hero {
    background-color: dimgrey;
}

.main-box {
    height: 80vh;
    margin: 0 10vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-box h1, p {
    padding: 10px 0;
}
