#navbar-container {
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    width: 100%;
}

.navbar-dark .navbar-brand {
    font-size: 150%;
}

.navbar-dark .navbar-brand:hover {
    color: #ffd500;
    -webkit-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}